
		<div class="container">
				<div class="row">
						<div class="col-lg-4">
								<h3>Paper</h3>
								<a href="
https://arxiv.org/pdf/1910.02190.pdf">
									<img width="50%" src="/img/paper.png">
								</a>
							</div>
							<div class="col-lg-8">
								<h3>BiBTex</h3>
								<div style="background:#EEE;margin:0px;padding:0px;">
									<pre><code class="pre-scrollable" style="color:#333;font-size:12px;">
@misc{eriba2019kornia,
	author    = {E. Riba and D. Mishkin and D. Ponsa and E. Rublee and G. Bradski},
	title     = {Kornia: an Open Source Differentiable Computer Vision Library for PyTorch},
        booktitle = {Winter Conference on Applications of Computer Vision},
	year      = {2020},
	url       = {https://arxiv.org/pdf/1910.02190.pdf}
}
									</code></pre>
								</div>
							</div>
						</div>

			<div class="row">
				<div class="col-lg-6">
					<h2>Supporting Organizations</h2>
				</div>
				<div class="col-lg-12 mx-auto">
                        <ul class="list-inline text-center">

                          <li class="list-inline-item">
                            <a target="_blank" href="http://www.cvc.uab.es/" style="width:200px;height:100px;display:inline-block;overflow:hidden;">
                              <img width="100%" src="/img/compvisioncenter.png" alt="Computer Vision Center">
                            </a>
                          </li>

                          <!-- <li class="list-inline-item"><span style="display:inline-block; width:30px;"></span></li> -->
                          
                          <li class="list-inline-item">
                            <a target="_blank" href="http://osvf.org" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="50%" src="/img/New-OSVF-LOGO-300x295.png" alt="Open Source Vision Fundation">
                            </a>
                          </li>
			  <li class="list-inline-item">
                            <a target="_blank" href="https://opencv.org" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="40%" src="/img/487px-OpenCV_Logo_with_text.png" alt="Open Computer Vision Library">
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a target="_blank" href="https://www.fast.ai" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="45%" src="/img/fastai.jpeg" alt="fast.ai">
                            </a>
                          </li>
			  <li class="list-inline-item">
                            <a target="_blank" href="https://scape.io" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="45%" src="/img/scape_logo.png" alt="Scape Technologies">
                            </a>
                          </li>
			  <li class="list-inline-item">
                            <a target="_blank" href="https://pytorch.org" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="35%" src="/img/pytorch.png" alt="Pytorch">
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a target="_blank" href="https://aws.amazon.com/opensource" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
                              <img width="100%" src="/img/aws_open_source.jpeg" alt="AWS Open Source">
                            </a>
                          </li>
                        </ul>
                      </div>
			</div>

		</div>
		<!-- /.container -->
